  <div id="login_container">

    <legend class="legend">Login</legend>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input">
          <%= f.label :user_name %><br/>
          <%= f.text_field :user_name, autofocus: true %>
        </div>

        <div class="input">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="actions">
         <center> <button type='submit' name='btn_login' class="waves-effect waves-light btn"><%= f.submit "Log in" %></button></center>
        </div>

    <% end %>

  </div>
