<%= render :partial => "shared/sidemenu" %>

<div id="report_main" class="container">

  <h5><%= @latest_report.title %></h5>
  <p><span class="new badge red" data-badge-caption="NEW" style="float:left; margin-left:0px; margin-right:5px;"></span> <%= @latest_report.created_at.to_s[0..10] %></p>
  <BR>
  <div class="block">
  <%= raw @latest_report.content %>
  </div>

  <div id="past_reports_container">
    <h5>過去の記録</h5>

    <table class="striped">
    <thead>
    <tr>
      <th>date</th>
      <th>title</th>
      <th>content</th>
    </tr>
    </thead>
    <tbody>
    <% @reports.each do |report| %>
        <tr>
          <td width="15%"><%= report.created_at.to_s[0..10] %></td>
          <td width="20%">
            <%= link_to report.title, "/report/#{report.id}", method: :get %>
          </td>
          <td width="65%"><%= strip_tags report.content.to_s[0..100]+"..." %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
  </div>

</div>