<% if user_signed_in? && current_user.id == @report.user_id %>
    <%= render :partial => "shared/sidemenu" %>
    <div id="report_main" class="container">

      <h5><%= @report.title %></h5>
      <p>Date: <%= @report.created_at.to_s[0..9] %></p>
      <div class="divider"></div>
    <BR>
    Content: <%= @report.content %>
    <BR/>

    <BR/>
    <%= link_to '戻る', report_url %>
    </div>
<% end %>
